# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
# Packages folder can be ignored if using PackageReference
packages/
# Uncomment if necessary
#*.snupkg

# Windows image file caches
Thumbs.db
*.DS_Store

# FTPServer logs and runtime data
logs/
ftpserver.log
server_settings.json

# Others
*.log
*.tmp
*.bak
*.swp
*.userprefs
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.dbmdl
*.cache
*.db
*.sdf
*.sqlite
*.vscode
