# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.csproj.user
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Whisper Models
*.bin
!ggml-*.bin

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
