<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <ComponentGroup Id="AppPayload" Directory="INSTALLFOLDER">
      <Files Directory="INSTALLFOLDER"
             Include="$(var.PublishDir)**">
        <Exclude Files="$(var.PublishDir)OCRWinV10.exe" />
        <Exclude Files="$(var.PublishDir)**\*.pdb" />
        <Exclude Files="$(var.PublishDir)opencv_videoio_ffmpeg*.dll" />
        <Exclude Files="$(var.PublishDir)System.Windows.Forms.Design.dll" />
      </Files>
    </ComponentGroup>
  </Fragment>

</Wix>
