<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="VideoPlayerV10"
    Manufacturer="VideoPlayerV10"
    Version="1.0.0"
    UpgradeCode="DF073837-B1E2-4C62-8AA9-9149C4D03418">

    <MajorUpgrade DowngradeErrorMessage="A newer version of VideoPlayerV10 is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="VideoPlayerV10" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="VideoPlayerV10" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.VideoPlayerV10.App.TargetDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
