# Build output
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.rsuser
*.vcxproj.filters
*.vcxproj.user

# NuGet
*.nupkg
*.snupkg
packages/
NuGet.Config

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# User settings
**/AppData/

# OS
Thumbs.db
.DS_Store
desktop.ini

# Publish output
publish/
**/Properties/PublishProfiles/
