<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?define ProductVersion = "1.0.0" ?>

  <Package
    Name="DCMViewer"
    Manufacturer="TestSimulator"
    Version="$(ProductVersion)"
    UpgradeCode="A9EF6A81-43F8-4722-8E86-588021245C9A"
    Codepage="949">

    <SummaryInformation Description="DCMViewer Installer" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of DCMViewer is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="..\DCMViewer\Assets\AppIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <ui:WixUI Id="WixUI_Mondo" InstallDirectory="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="DCMViewer" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="DCMViewer" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature"
             Title="DCMViewer"
             Description="DICOM 이미지 뷰어 프로그램"
             Level="1"
             AllowAdvertise="no"
             Display="expand">
      <ComponentGroupRef Id="AppFiles" />

      <Feature Id="StartMenuShortcutFeature"
               Title="시작 메뉴 바로 가기"
               Description="시작 메뉴에 DCMViewer 바로 가기를 만듭니다."
               Level="1"
               AllowAdvertise="no">
        <ComponentRef Id="StartMenuShortcut" />
      </Feature>

      <Feature Id="DesktopShortcutFeature"
               Title="바탕 화면 바로 가기"
               Description="바탕 화면에 DCMViewer 바로 가기를 만듭니다."
               Level="1"
               AllowAdvertise="no">
        <ComponentRef Id="DesktopShortcut" />
      </Feature>

      <Feature Id="DcmFileAssociationFeature"
               Title=".dcm 기본 프로그램 등록"
               Description=".dcm 파일을 DCMViewer와 연결하고 Windows 기본 프로그램으로 설정합니다."
               Level="1"
               AllowAdvertise="no">
        <ComponentRef Id="DcmFileAssociation" />
      </Feature>
    </Feature>

    <SetProperty Id="SetDcmDefaultApp"
                 Value="&quot;[INSTALLFOLDER]DCMViewer.exe&quot; --install-set-dcm-default"
                 Before="SetDcmDefaultApp"
                 Sequence="execute"
                 Condition="NOT Installed AND &amp;DcmFileAssociationFeature=3" />

    <CustomAction Id="SetDcmDefaultApp"
                  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixQuietExec64"
                  Execute="deferred"
                  Impersonate="yes"
                  Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="SetDcmDefaultApp"
              Before="InstallFinalize"
              Condition="NOT Installed AND &amp;DcmFileAssociationFeature=3" />
    </InstallExecuteSequence>
  </Package>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="DcmFileAssociation" Directory="INSTALLFOLDER" Guid="B8E2F4A1-6C3D-4E9B-A1F2-3D7C8E5B9A04">
      <RegistryKey Root="HKCU" Key="Software\Classes\.dcm">
        <RegistryValue Type="string" Value="DCMViewer.dcm" />
      </RegistryKey>
      <RegistryKey Root="HKCU" Key="Software\Classes\DCMViewer.dcm">
        <RegistryValue Type="string" Value="DICOM Image" />
        <RegistryKey Key="DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]Assets\DcmFile.ico,0" />
        </RegistryKey>
        <RegistryKey Key="shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]DCMViewer.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </RegistryKey>
      <RegistryValue Root="HKCU" Key="Software\TestSimulator\DCMViewer" Name="DcmFileAssociation" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Guid="A596BA59-4943-42CC-8E78-30E247705AE2">
      <Shortcut
        Id="StartMenuShortcut"
        Name="DCMViewer"
        Target="[INSTALLFOLDER]DCMViewer.exe"
        WorkingDirectory="INSTALLFOLDER"
        Advertise="no"
        Icon="AppIcon"
        IconIndex="0" />
      <RemoveFolder Id="ApplicationProgramsFolderRemove" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\TestSimulator\DCMViewer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="E1C4E807-8A91-45A8-BD30-DFA2E449D2A4">
      <Shortcut
        Id="DesktopAppShortcut"
        Name="DCMViewer"
        Target="[INSTALLFOLDER]DCMViewer.exe"
        WorkingDirectory="INSTALLFOLDER"
        Advertise="no"
        Icon="AppIcon"
        IconIndex="0" />
      <RegistryValue Root="HKCU" Key="Software\TestSimulator\DCMViewer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
